@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Aplicação de Escalonamento 📊</h1>
<p>A Aplicação em questão é uma ferramenta que permite realizar cálculos de escalonamento de processos utilizando vários algoritmos de escalonamento, incluindo FCFS, SJF, RR, SFRT, PRIOc e PRIOp. Ela permite inserir dados de chegada, tempo de execução e prioridade dos processos, além de escolher o tipo de escalonamento desejado.</p>

<h2>Funcionalidades 🚀</h2>
<ul>
    <li><b>FCFS (First-Come, First-Served):</b> Este algoritmo de escalonamento atende os processos na ordem em que chegam, sem considerar prioridades.</li>
    <li><b>SJF (Shortest Job First):</b> O SJF escalona os processos de acordo com seu tempo de execução, com os processos mais curtos tendo prioridade.</li>
    <li><b>RR (Round Robin):</b> O algoritmo Round Robin atribui um tempo de execução fixo para cada processo, e os processos são atendidos circularmente até sua conclusão.</li>
    <li><b>SRFT (Shortest Remaining Time First):</b> Semelhante ao SJF, o SFRT escalona os processos com base em seu tempo de execução restante, dando prioridade ao processo mais curto que ainda precisa ser concluído.</li>
    <li><b>PRIOc (Priority Scheduling com prioridade crescente):</b> Neste algoritmo, os processos são escalonados com base em sua prioridade, com prioridade crescente sendo mais alta.</li>
    <li><b>PRIOp (Priority Scheduling com prioridade decrescente):</b> Semelhante ao PRIOc, mas com prioridade decrescente sendo mais alta.</li>
</ul>

<h2>Testes Unitários 🧪</h2>
<p>A aplicação inclui testes unitários para garantir a precisão dos algoritmos de escalonamento implementados. A base de testes levou como parâmetro todos os Exercícios da lista para a N1B1.</p>

<h2>Integrantes</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">RA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>André Vítor Pereira Cini</td>
            <td>081200039</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Cayo Vinicius Neves Magalhães</td>
            <td>081200050</td>
        </tr>
    </tbody>
</table>

<h2>Pré-requisitos ⚙️</h2>
<p>Antes de executar a aplicação, certifique-se de ter o seguinte instalado:</p>
<ul>
    <li>Visual Studio 2022</li>
    <li>.NET 7</li>
    <li>Bibliotecas e pacotes necessários</li>
</ul>
    